/**,
*::before,
*::after {
    box-sizing: border-box;
}*/

body,
html {
    margin: 0;
    padding: 0;
}

/* Grille */
.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh
}

.grid-menu {
    position: sticky;
    top: 0;
    height: 100vh;
}

/* Texte */
.text-center {
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Canvas */
#canvas-container {
    height: 50%;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        min-height: 100vh
    }

    .grid-menu {
        position: sticky;
        top: 0;
        height: 100px;
    }

    #canvas-container {
        height: 80%;
        width: 90%;
    }
}